.container {
  position: fixed;
  pointer-events: none;
  z-index: 1;
  top: 0;
  left: 0;
}

.innerContainer {
  background-color: #000a;
  color: white;
  padding: 6px;
  font-size: 0.8rem;
  border-radius: 2px;
  transition: transform 150ms, opacity 150ms;
  opacity: 0;
  display: flex;
  justify-content: center;
  transform: translateX(-50%) translateY(0%);
}

.innerContainer.visible {
  opacity: 1;
  transform: translateX(-50%) translateY(calc(-100% - 16px));
}

.triangle {
  width: 0px;
  height: 0px;
  border: 10px solid transparent;
  border-top-color: #000a;
  position: absolute;
  top: 100%;
}
